@import '../../themes.scss';

.plugin-ui {
  background-color: var(--background-color);
  color: var(--text-color-primary);
  font-feature-settings: "liga" on,"calt" on;
  display: flex;
  flex-direction: column;
  height: 100%;

  &.theme-light { @include theme-light; }
  &.theme-dark { @include theme-dark; }
  &.theme-midnight { @include theme-midnight; }
  
  @media (prefers-color-scheme: light) { @include theme-light; }
  @media (prefers-color-scheme: dark) { @include theme-dark; }

  * {
    box-sizing: border-box;
    user-select: none;
  }
}

.handle {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  cursor: se-resize;

  .handle-bg {
    fill: var(--border-color);
  }
  
  .handle-bar {
    fill: var(--background-color);
  }

  &:hover .handle-bar {
    fill: var(--focus-color);
  }
}
