.slot {
  position: relative;
  min-width: 24px;
  min-height: 24px;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .key {
    display: block;
    width: 10px;
    height: 10px;
    transform: rotateZ(45deg);
    z-index: 2;
  }

  &:not(.transition) {
    .key { background-color: var(--tick-slot); }
    &.default:hover .key {
      background-color: var(--tick-hover);
    }
  }

  &.transition {
    .key { background-color: transparent; }

    &.start, &.end {
      .key { background-color: var(--tick-primary); }
    }

    &.default:hover {
      &.start .key, &.end .key {
        background-color: var(--tick-transition-hover);
      }
    }

    &:before, &:after {
      content: "";
      display: none;
      position: absolute;
      top: 50%;
      height: 5px;
      transform: translateY(-50%);
      background-color: var(--tick-primary);
    }
    &:before { left: 0; right: 50%; }
    &:after { left: 50%; right: 0; }
    &.start:not(.end):after { display: block; }
    &.end:not(.start):before { display: block; }
    &:not(.start):not(.end) { &:before, &:after { display: block; } }
    &.start.end { &:before, &:after { display: block; } }
    &.start.end:not(.dual) { &:before, &:after { display: none; } }
  }

  &.selected.transition {
    &.start .key, &.end .key { background-color: var(--tick-selected); }
    &.start:not(.end):after { background-color: var(--tick-selected); }
    &:not(.start).end:before { background-color: var(--tick-selected); }
    &:not(.start):not(.end) { &:before, &:after { background-color: var(--tick-selected); } }
    &.selected-left:before { background-color: var(--tick-selected); }
    &.selected-right:after { background-color: var(--tick-selected); }
  }

  &.active .key {
    background-color: var(--tick-selected) !important;
    width: 12px;
    height: 12px;
  }
}

.lock {
  display: block;
  position: absolute;
  width: 50%;
  height: 5px;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--tick-locked);
  z-index: 1;
}