.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: default;
  width: 24px;
  height: 24px;
  min-width: 24px;
  user-select: none;
  background-color: var(--icon-color);

  &.sm {
    width: 16px;
    height: 16px;
    min-width: 16px;
  }

  &.disabled {
    opacity: 0.35;
    pointer-events: none;
  }

  &.mute {
    z-index: 1;
    pointer-events: none;
  }

  &.icon-animation-opacity { -webkit-mask: url(../icons/animation-opacity.svg) no-repeat center center; }
  &.icon-animation-rotate { -webkit-mask: url(../icons/animation-rotate.svg) no-repeat center center; }
  &.icon-animation-scale { -webkit-mask: url(../icons/animation-scale.svg) no-repeat center center; }
  &.icon-animation-translate-x { -webkit-mask: url(../icons/animation-translate-x.svg) no-repeat center center; }
  &.icon-animation-translate-y { -webkit-mask: url(../icons/animation-translate-y.svg) no-repeat center center; }
  &.icon-ease-in-back { -webkit-mask: url(../icons/ease-in-back.svg) no-repeat center center; }
  &.icon-ease-in-out-back { -webkit-mask: url(../icons/ease-in-out-back.svg) no-repeat center center; }
  &.icon-ease-in-out { -webkit-mask: url(../icons/ease-in-out.svg) no-repeat center center; }
  &.icon-ease-in { -webkit-mask: url(../icons/ease-in.svg) no-repeat center center; }
  &.icon-ease-linear { -webkit-mask: url(../icons/ease-linear.svg) no-repeat center center; }
  &.icon-ease-out-back { -webkit-mask: url(../icons/ease-out-back.svg) no-repeat center center; }
  &.icon-ease-out { -webkit-mask: url(../icons/ease-out.svg) no-repeat center center; }
  &.icon-transition-delay { -webkit-mask: url(../icons/transition-delay.svg) no-repeat center center; }
  &.icon-transition-duration { -webkit-mask: url(../icons/transition-duration.svg) no-repeat center center; }
  &.icon-transition-from { -webkit-mask: url(../icons/transition-from.svg) no-repeat center center; }
  &.icon-transition-to { -webkit-mask: url(../icons/transition-to.svg) no-repeat center center; }
  &.icon-transition-trigger { -webkit-mask: url(../icons/transition-trigger.svg) no-repeat center center; }
  &.icon-ui-animate-off { -webkit-mask: url(../icons/ui-animate-off.svg) no-repeat center center; }
  &.icon-ui-animate-on { -webkit-mask: url(../icons/ui-animate-on.svg) no-repeat center center; }
  &.icon-ui-clipboard { -webkit-mask:  url(../icons/ui-clipboard.svg) no-repeat no-repeat center center; }
  &.icon-ui-download { -webkit-mask: url(../icons/ui-download.svg) no-repeat center center; }
  &.icon-ui-forward { -webkit-mask: url(../icons/ui-forward.svg) no-repeat center center; }
  &.icon-ui-instance { -webkit-mask: url(../icons/ui-instance.svg) no-repeat center center; }
  &.icon-ui-settings { -webkit-mask: url(../icons/ui-settings.svg) no-repeat center center; }
  &.icon-ui-warning { -webkit-mask: url(../icons/ui-warning.svg) no-repeat center center; }
  &.icon-ui-plus { -webkit-mask: url(../icons/ui-plus.svg) no-repeat center center; }
  &.icon-ui-minus { -webkit-mask: url(../icons/ui-minus.svg) no-repeat center center; }
  &.icon-ui-info { -webkit-mask: url(../icons/ui-info.svg) no-repeat center center; }
  &.icon-control-loop { -webkit-mask: url(../icons/control-loop.svg) no-repeat center center; }
  &.icon-control-pause { -webkit-mask: url(../icons/control-pause.svg) no-repeat center center; }
  &.icon-control-play { -webkit-mask: url(../icons/control-play.svg) no-repeat center center; }
  &.icon-control-reset { -webkit-mask: url(../icons/control-reset.svg) no-repeat center center; }
}
