.input {
  position: relative;
  display: flex;
  user-select: none;
  align-items: center;
  border: 1px solid transparent;
  padding: 0px 0px 0px 7px;
  margin: 0px;
  box-sizing: border-box;
  border-radius: 2px;

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &.with-icon {
    padding-left: 0px;
  }

  &:hover {
    border: 1px solid var(--border-color);
  }

  & > .icon {
    margin-right: 3px;
  }

  & > input {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: var(--text-secondary);
    font-family: inherit;
    border-radius: 2px;
    cursor: default;
    box-sizing: border-box;
    background-clip: padding-box;
    background-color: transparent;
    width: 100%;
    padding: 0px;
    height: 32px;
    border: 1px solid transparent;
    min-width: 0;

    &:focus {
      outline: none;
    }
  }

  &:focus-within {
    border-radius: 2px;
    border: 1px solid var(--focus-color);
    outline: 1px solid var(--focus-color);
    outline-offset: -2px;
  }
}
