.theme-light {
  --background: #FFFFFF;
  --text-primary: #171717;
  --text-secondary: #333333;
  --border-color: #e4e4e4;
  --panel-color: #FCFCFC;
  --icon-color: #333333;
  --focus-color: #18a0fb;
  --selected-color: #e6e6e6;
  --disabled-color: #AAAAAA;
}

.theme-dark {
  --background: #2E3440;
  --text-primary: #F4F4F9;
  --text-secondary: #D7DEE3;
  --border-color: #1e222a;
  --panel-color: #232730;
  --icon-color: #D7DEE3;
  --focus-color: #18a0fb;
  --selected-color: #445662;
  --disabled-color: #434f57;
}

.plugin-ui {
  background-color: var(--background);
  color: var(--text-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
  
  * {
    box-sizing: border-box;
  }
}

.handle {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
  cursor: se-resize;
}
