.tabs {
  position: relative;
  height: 41px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--panel-color);
  border-bottom: 1px solid var(--border-color);
  padding: 0px 4px 0px 16px;
}

.tab {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 6px 0px;
  line-height: 1;
  cursor: pointer;

  &.with-icon {
    padding-left: 0px;
  }

  &.active {
    .title { color: var(--text-color-primary); font-weight: 600; }
    .icon { background-color: var(--text-color-primary); }
  }

  &:hover {
    .title { color: var(--text-color-primary); }
    .icon { background-color: var(--text-color-primary); }
  }
}

.icon {
  background-color: var(--text-color-secondary);
}

.title {
  min-width: 0;
  flex: 1;
  color: var(--text-color-secondary);
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}
