@mixin theme-midnight {
  --background-color: #2E3440;
  --text-color-primary: #f7f7fa;
  --text-color-secondary: rgba(255, 255, 255, 0.66);
  --text-color-on-dark: #FFFFFF;
  --border-color: #1e222a;
  --panel-color: #232730;
  --panel-inactive-color: #292e39;
  --icon-color: #f7f7fa;
  --focus-color: #18a0fb;
  --error-color: #fb1818;
  --selected-color: #445662;
  --disabled-color: #434f57;
  --tick-primary: #7E97D4;
  --tick-slot: #232730;
  --tick-disabled: #151d30;
  --tick-hover: #555c6f;
  --tick-transition-hover: #cedcff;
  --tick-selected: #FFFFFF;
  --tick-locked: rgba(46, 52, 64, 0.5);
}

@mixin theme-dark {
  --background-color: #2C2C2C;
  --text-color-primary: #FFFFFF;
  --text-color-secondary: rgba(255, 255, 255, 0.7);
  --text-color-on-dark: #FFFFFF;
  --border-color: #444444;
  --panel-color: #2C2C2C;
  --panel-inactive-color: #262626;
  --icon-color: #FFFFFF;
  --focus-color: #18a0fb;
  --error-color: #fb1818;
  --selected-color: #444444;
  --disabled-color: #434f57;
  --tick-primary: #7E97D4;
  --tick-slot: #444444;
  --tick-disabled: #292f3d;
  --tick-hover: #555c6f;
  --tick-transition-hover: #cedcff;
  --tick-selected: #FFFFFF;
  --tick-locked: rgba(44, 44, 44, 0.5);
}

@mixin theme-light {
  --background-color: #FFFFFF;
  --text-color-primary: #171717;
  --text-color-secondary: #333333;
  --text-color-on-dark: #FFFFFF;
  --border-color: #e4e4e4;
  --panel-color: #FCFCFC;
  --panel-inactive-color: #E9E9E9;
  --icon-color: #171717;
  --focus-color: #18a0fb;
  --error-color: #fb1818;
  --selected-color: #e6e6e6;
  --disabled-color: #AAAAAA;
  --tick-primary: #7E97D4;
  --tick-slot: #e4e4e4;
  --tick-disabled: #151d30;
  --tick-hover: #555c6f;
  --tick-transition-hover: rgb(74, 95, 148);
  --tick-selected: #18a0fb;
  --tick-locked: rgba(255, 255, 255, 0.5);
}
