@import '../../src/themes.scss';

.window {
  display: flex;
  flex-direction: column;
  background-color: #2c2c2c;
  border-radius: 2px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, .45), 0px 3px 5px rgba(0, 0, 0, .35), inset 0px 1px 0px rgba(255, 255, 255, .08), inset 0px 0px 1px rgba(255, 255, 255, .35);

  &.theme-dark { @include theme-dark; }
  &.theme-midnight { @include theme-midnight; }

  &.theme-light {
    @include theme-light;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.08), 0px 10px 24px 0px rgba(0, 0, 0, 0.18), 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;

    .header {
      border-bottom: 1px solid rgb(230, 230, 230);
      .title { color: #000000; }

      button {
        fill: #000000;
        color: #000000;
      }

      .icon {
        fill: #000000;
      }
    }
  }

  * {
    box-sizing: border-box;
    user-select: none;
  }
}

.header {
  border-top-left-radius: 1px !important;
  border-top-right-radius: 1px !important;
  font-weight: 600;
  min-height: 41px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
  padding-right: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #444444;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  .icon {
    margin-right: -8px;
    margin-left: -4px;
    fill: #FFFFFF;
    svg { display: block; }
  }

  .title {
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 8px;
    width: calc(100% - 40px);
  }

  button {
    border: 1px solid transparent;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    width: 32px;
    flex: 0 0 32px;
    line-height: 32px;
    cursor: default;
    fill: #FFFFFF;
    color: #FFFFFF;
    border-radius: 2px;
    background-clip: padding-box;
    background-color: transparent;
  }
}

.body {
  color: var(--text-color-primary);
  position: relative;
  flex: 1;
  overflow-y: auto;

  &.padding { padding: 8px; }  
}
