.label {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 4px;
  user-select: none;
  align-items: center;
  border: 1px solid transparent;
  padding: 0px 0px 0px 7px;
  margin: 0px;
  box-sizing: border-box;
  border-radius: 2px;

  &.with-icon {
    padding-left: 4px;
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &:hover {
    border: 1px solid var(--border-color);
  }

  & > .icon {
    margin-right: 3px;
  }

  &:focus-within {
    border-radius: 2px;
    border: 1px solid var(--focus-color);
    outline: 1px solid var(--focus-color);
    outline-offset: -2px;
  }

  &.error:focus-within {
    border-color: var(--error-color);
    outline-color: var(--error-color);
  }
}

.input {
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: var(--text-color-primary);
  font-family: inherit;
  border-radius: 2px;
  cursor: default;
  box-sizing: border-box;
  background-clip: padding-box;
  background-color: transparent;
  width: 100%;
  padding: 0px;
  height: 32px;
  border: 1px solid transparent;
  min-width: 0;

  &::placeholder {
    color: var(--text-color-secondary);
    opacity: 0.66;
  }

  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxMCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZyBpZD0iYTE4MWNiZTUiPgogICAgPHBhdGggaWQ9ImNmOTQ5NDM4IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQuOTk5NjMgMC45MzMxNzlMMS41MjgyNSA0TDEgMy41MzM0MUw0Ljk5OTYzIDBMOSAzLjUzMzQxTDguNDcxNzUgNEw0Ljk5OTYzIDAuOTMzMTc5WiIgZmlsbD0iIzRCOUVGNCI+PC9wYXRoPgogICAgPHBhdGggaWQ9IjkxMzNjNGY2IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTQuOTk5NjMgMTUuMDY2OEwxLjUyODI1IDEyTDEgMTIuNDY2Nkw0Ljk5OTYzIDE2TDkgMTIuNDY2Nkw4LjQ3MTc1IDEyTDQuOTk5NjMgMTUuMDY2OFoiIGZpbGw9IiM0QjlFRjQiPjwvcGF0aD4KICAgIDxwYXRoIGlkPSI1MTZlMTQ5MSIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMCA4LjVIMFY3LjVIMTBWOC41WiIgZmlsbD0iYmxhY2siIGZpbGwtb3BhY2l0eT0iMC4yNSI+PC9wYXRoPgogIDwvZz4KPC9zdmc+);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 24px;
    opacity: 1;

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);
    }
  }

  &:focus {
    outline: none;
  }
}