body {
  font-feature-settings: "liga" on, "calt" on;
  font: normal 400 11px/16px Inter, sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;

  &.figmania-midnight { background-color: #2e3440; }
  &.figmania-dark { background-color: #1E1E1E; }
  &.figmania-light { background-color: #F5F5F5; }
}

.plugin-ui-handle {
  position: absolute;
}

.plugin-ui {
  width: 640px;
  height: 480px
}
